h1{
  text-align: center;
}

.l-box {
  padding: 1em;
}

embed{
  width: 900px;
  height: 540px;
}

textarea{
  max-height: 180px;
  max-width: 100%;
  min-height: 100px;
  min-width: 120px;
  width: 100%;
  height: 180px;
}