.tooltip_bg{
  fill: white;
  stroke: black;
  stroke-width: 1;
  stroke-dasharray: 1;
  opacity: 0.85;

  -webkit-filter: drop-shadow(4px 6px 4px #AAA);
  filter:drop-shadow(4px 6px 4px #AAA);
}

.myGrid{
  padding-top: 5px;
  width: 300px;
  visibility: inherit;
}

.myGrid .myGridCellTh{
  width: 100px;
  height: 1.25em;
  float: left;
  font-weight: bold;
}

.myGrid .myGridCell{
  width: 200px;
  height: 1.25em;
  float: left;
}

body{
  font-size: small;
  width: 400px;
}

.infoTable{
  width: 300px;
  height: 4em;
}

.barrelPoly{
  stroke: rgb(128, 128, 128);
  stroke-width: 0.1;
}

.forwardPoly{
  stroke: rgb(255, 192, 0);
  stroke-width: 0.1;
}

polygon{
  transition-property: fill-opacity, stroke-width;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
}

polygon:hover{
  fill-opacity: 0.2;
  cursor: pointer;
  stroke-width: 0.3;
}

#moduleName{
  font-weight: bolder;
}

svg{
  /* width: 2000px; */
  /* height: 900px; */
  /* transform: scale(1.0); */
}

svg#mainMap{
  background-color: rgb(255, 255, 255);
  /* transform: scale(1); */
}

#allGeometryGroup{
  transform: scale(0.7);
}

#barrelPolygonGroup{
  transform: translate(50px, 400px);
}
#mForwardPolygonGroup{
  transform: translate(150px, 0px)
}
#pForwardPolygonGroup{
  transform: translate(150px, 0px);
}